body {
    text-align: center;
    background-color: #FEF9EF;
    font-family: sans-serif, Arial, Helvetica, ;
}

.font-style {
    object-position: center;
    margin: auto;
    font-size: 500%;
    object-fit: contain;
    width: 50%;
    height: auto;
}

.contain {
    object-fit: contain;
    width: 20%;
    height: auto;
  }

  